
//sass style
//-------------------------------
$baseFontSize:      32px !default;


// pixels to rems
@function pxToRem($px) {
  @return $px / $baseFontSize * 1rem;
}

.toast-container{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 99;
  background-color:rgba(0,0,0,0);
  .toast{
    width: pxToRem(240px);
    height: pxToRem(230px);
    background: rgba(0,0,0,.4);
    border-radius: 12px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    color: #ffffff;
    text-align: center;
  }
  .toast.only-text{
    height: pxToRem(80px);
    line-height: pxToRem(80px);
  }

  img{
    width: pxToRem(100px);
    height: pxToRem(100px);
    margin-top: pxToRem(28px);
  }

}