//sass style
//-------------------------------
$baseFontSize:      32px !default;


// pixels to rems
@function pxToEm($px) {
  @return $px / $baseFontSize * 1em;
}

.pickerWrap{
  position: fixed;
  font-size: 32px;
  left:0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  .pickerMark{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
  }
  .pickerMain{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: pxToEm(273px);
    .pickerHeader{
      position: relative;
      height: pxToEm(60px);
      line-height: pxToEm(60px);
      background: #F9FAFC;
      border-top:1px solid #E3E3E4;
      .s0{
        position: absolute;
        left: pxToEm(10px);
        top:0;
        font-size: pxToEm(17px);
        color: #999;
      }
      .s1{
        display: block;
        text-align: center;
        font-size: pxToEm(15px);
        color:#999;
      }
      .s2{
        position: absolute;
        right: pxToEm(10px);
        top:0;
        font-size: pxToEm(17px);
        color: #FF552E;
      }
    }
    .pickerContent{
      position: relative;
      height: pxToEm(213px);
      opacity: 1;
      background: #fff;
      .pickerWheel{
        display: flex;
        flex-flow: row nowrap;
        // font-size: pxToEm(20px);
        height: 100%;
        color: #9F9F9F;
        overflow: hidden;
        .wheelItem{
          padding-top: pxToEm(13px);
          flex-grow: 1;
          text-align: center;
          .wheel-scroll{
            margin-top: pxToEm(80px);
            list-style: none;
            padding-left: 0px; // 去掉ul list-style的位置
            .wheel-item{
              height: 40px;
              line-height: 40px;
              font-size: pxToEm(20px)
            }
            .selectItem{
              color: #333;
              font-size: pxToEm(24px);
            }
          }
        }
      }
      .markTop{
        position: absolute;
        top: 0;
        height: pxToEm(93px);
        width: 100%;
        background: -moz-linear-gradient(180deg,hsla(0,0%,100%,.8),hsla(0,0%,100%,.4));
        background: linear-gradient(180deg,hsla(0,0%,100%,.8),hsla(0,0%,100%,.4));
        border-bottom: 1px solid #f3f3f3;
        z-index: 10;
        pointer-events: none;
        transform: translateZ(0);
      }
      .markBottom{
        position: absolute;
        bottom: 0;
        height: pxToEm(80px);
        width: 100%;
        background: -moz-linear-gradient(0deg,hsla(0,0%,100%,.8),hsla(0,0%,100%,.4));          
        background: linear-gradient(0deg,hsla(0,0%,100%,.8),hsla(0,0%,100%,.4));
        border-top: 1px solid #f3f3f3;
        z-index: 10;
        pointer-events: none;
        transform: translateZ(0);
      }
    }
  }
}