@import "./scss/fontawesome.scss";
@import "./scss/solid.scss";
@import "./scss/brands.scss";
@import "./../../styles/variables.scss";

$icon-sm-font-size:              150%;
$icon-md-font-size:              200%;
$icon-lg-font-size:              250%;

$icon-sm-vertical-align:         -10%;
$icon-md-vertical-align:         -16%;
$icon-lg-vertical-align:         -22%;

$icon-btn-width: 							  48px;
$icon-btn-height: 							$icon-btn-width;
$icon-btn-border-radius: 			  50%;
$icon-btn-background: 					#eee;
$icon-btn-font-size: 					  $icon-btn-width * 0.5;
$icon-btn-color: 							  $gray;

$icon-btn-hover-background: 		#f5f5f5;
$icon-btn-hover-color: 				  $gray-dark;

$icon-btn-active-background: 	  #ddd;
$icon-btn-active-color: 				$gray-dark;

@mixin icon-btn-size($width: 40rem,$height: 40px,$font-size: 20px) {
    width: $width;
    height: $height;
    font-size: $font-size;
    line-height: $height;
}
.#{$ns}icon-btn {
    box-sizing: border-box;
    display: inline-block;
    @include icon-btn-size($icon-btn-width,$icon-btn-height,$icon-btn-font-size);
    border-radius: $icon-btn-border-radius;
    background-color: $icon-btn-background;
    color: $icon-btn-color;
    text-align: center;
  
    /**
     * Hover
     * 1. Apply hover style also to focus state
     * 2. Remove default focus style
     */
    &:hover,
    &:focus {
      /* 1 */
      background-color: $icon-btn-hover-background;
      color: $icon-btn-hover-color;
      text-decoration: none;
      outline: none; /* 2 */
      
    }
  
    /* Active */
    &:active {
      background-color: $icon-btn-active-background;
      color: $icon-btn-active-color;
      
    }
  
    &.#{$ns}primary,
    &.#{$ns}secondary,
    &.#{$ns}success,
    &.#{$ns}warning,
    &.#{$ns}danger {
      color: $white;
    }
  
    &.#{$ns}primary {
      background-color: $global-primary;
    }
  
    &.#{$ns}secondary {
      background-color: $global-secondary;
    }
  
    &.#{$ns}success {
      background-color: $global-success;
    }
  
    &.#{$ns}warning {
      background-color: $global-warning;
    }
  
    &.#{$ns}danger {
      background-color: $global-danger;
    }
  }
  
  .#{$ns}icon-btn-sm {
    @include icon-btn-size(32px,32px,16px);
  }
  
  .#{$ns}icon-btn-lg {
    @include icon-btn-size(64px, 64px, 28px);
  }
  
/* 自定义个性化图标*/

.#{$fa-css-prefix}-circle-o-notch:before { content: "\f1ce"; }
.#{$fa-css-prefix}-gear:before { content: "\F013"; }
.#{$fa-css-prefix}-refresh:before { content: "\f021"; }
.#{$fa-css-prefix}-shield:before { content: "\f132"; }
.#{$fa-css-prefix}-warning:before { content: "\f071"; }