<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.UICDN %>/vendor/amazeui.min.css">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.UICDN %>/app.css">
</head>
<body>
  <div id="app"></div>
  <script type="text/javascript" src="<%= htmlWebpackPlugin.options.UICDN %>/vendor/react.min.js"></script>
  <script type="text/javascript" src="<%= htmlWebpackPlugin.options.UICDN %>/vendor/react-dom.min.js"></script>
  <script type="text/javascript" src="<%= htmlWebpackPlugin.options.UICDN %>/vendor/ReactRouter.min.js"></script>
  <script type="text/javascript" src="<%= htmlWebpackPlugin.options.UICDN %>/app.js"></script>
</body>
</html>
